name: Linters
on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    container:
      image: python:3.12-slim

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install linters
        run: |
          pip install --no-cache-dir -r requirements.txt

      - name: Check Black formatting
        run: |
          black --check --diff .

      - name: Check isort formatting
        run: |
          isort --check-only --diff --profile black .

      - name: Run flake8
        run: |
          flake8 --max-line-length 90 .

      - name: Run mypy
        run: |
          mypy .

      - name: Run pytest
        run: |
          pytest
